:root {
  --color-main: #8869c2;
  --color-pink-main-half: #d66ab5;
  --color-pink: #ff7998;
  --color-orange: #ff9b78;
  --color-orange-yellow-half: #ffc964;
  --color-yellow: #f9f871;
}

body {
  background-color: var(--color-main);
}
#root {
  display: flex;
  justify-content: center;
}
.App {
  text-align: center;
}
