:root {
  --color-main: #8869c2;
  --color-pink-main-half: #d66ab5;
  --color-pink: #ff7998;
  --color-orange: #ff9b78;
  --color-orange-yellow-half: #ffc964;
  --color-yellow: #f9f871;
}

body {
  background-color: var(--color-main);
}
#root {
  display: flex;
  justify-content: center;
}
.App {
  margin: 32px;
  padding: 32px;
  min-width: 500px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgb(0, 0, 0, 50%) 0 0 10px;
}
